src/site/lsp-servlet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
		targetNamespace="http://staldal.nu/LSP/ExtLib/Servlet">

	<xs:element name="include">
		<xs:complexType>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>

    <xs:element name="lang">
        <xs:complexType>
            <xs:attribute name="key" use="required" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
